<h1>Listing sources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Questions</th>
    <th>Priority</th>
    <th>Block</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= source.title %></td>
    <td><%= source.url %></td>
    <td><%= source.questions %></td>
    <td><%= source.priority %></td>
    <td><%= source.block %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
