<%= form_for(@step, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :course, :class=>"control-label" %>
	<div class="controls">
	<%=  collection_select(:step, :course_id, Course.all, :id, :code) %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class=>"control-label" %>
	<div class="controls">
    <%= f.text_field :title, :placeholder=>"Title" %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class=>"control-label" %>
    <div class="controls">
	<%= f.text_area :description %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class=>"control-label" %>
    <div class="controls">
		<%= f.number_field :priority %>
	</div>
  </div>
   
   
   <div class="control-group">
	<div class="controls">
	<button type="submit" class="btn">Create</button>
	<%= button_to 'Return to List', :action=>"index", :class=>"btn" %>
  </div>
  </div>
<% end %>
