<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @step.title %>
</p>

<p>
  <b>Description:</b>
  <%= @step.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @step.priority %>
</p>


<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
